/*==========================================================================================
                                    About Page
==========================================================================================*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url('http://fonts.cdnfonts.com/css/angas');






.redirect-link {
    font-family: 'Source Sans Pro';
	position: relative;
    text-decoration: none;
    color: #37b2b2;
}
 
.redirect-link:before {
	content: "";
	position: absolute;
	width: 0;
	height: 3px;
	bottom: -5px;
	left: 0;
	background-color: rgb(0, 0, 0);
	visibility: hidden;
	transition: all 0.4s ease-in-out;
}
 
.redirect-link:hover:before {
	visibility: visible;
	width: 100%;
}