table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 75%;
  margin-left: auto;
    margin-right: auto;
}

th {
    background-color: #1a1919;
    color: rgb(224, 224, 224);
    font-size: 1.5rem;
}


td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 20px;
}

td {
    font-size: 1.2rem;
}
.dark-mode tr {
    color: white;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark-mode tr:nth-child(even) {
    background-color: #3b3b3b;
}

@media screen and (max-width: 768px) {
    table {
        width: 75vw;
        overflow: hidden;
    }

    th {
        background-color: #1a1919;
        color: rgb(224, 224, 224);
        font-size: 0.9rem;
    }

    
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 10px;
    }

    td {
        font-size: 0.8rem;
    }

}